.container {
    flex-basis: 800px;
    text-align: left;
}

@media (max-width: 400px) {
    .container {
        max-width: 260px;
        text-align: center;
    }
}

@media (max-width: 767px) {
    .container {
        width:95%;
    }
}