.tasks {
    list-style: none;
    padding: 0;
    margin: 0;
}

.list__item {
    text-decoration: none;
    padding: 10px;
    border-bottom: 1px solid #ddd;
    display: flex;
}

.list__itemDone {
    text-decoration: line-through;
}

.button__list {
    padding: 5px;
    border: none;
    width: 30px;
    height: 30px;
    cursor: pointer;
    color:white;
    background-color:rgb(13, 97, 13);
}

.button__list:hover {
    border: 1px solid black;
}

.button__listRemove {
    padding: 5px;
    width: 30px;
    height: 30px;
    background-color: rgb(212, 11, 11);
    background-image: url("../images/wastebasket.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 17px;
    cursor: pointer;
    border: none;
}

.button__listRemove:hover {
    border: 1px solid black;
}

.list__form {
    margin: 0;
    margin-left: 10px;
    font-size: 14px;
    padding: 5px;
}

@media (max-width:400px) {
    .list__form {
        width:100%;
    }
}

@media (max-width:767px) {
    .list__form {
        width:100%;
    }
}

@media (max-width:2560px) {
    .list__form {
        width:100%;
    }
}